body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("img/achtergrond.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

h1 {
  color: darkred;
  font-weight: bold;
}

.gezicht {
  width: 200px;
  cursor: pointer;
}

.gezicht:active {
  transform: scale(0.95);
}

button {
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
  border-radius: 100px;
  color: white;
  border: none;
}

p {
  font-size: 16px;
  font-weight: bold;
}


/* dit effect heb ik aan de hand van w3schools gemaakt. De website die ik hiervoor heb gevonden vermeld ik hieronder */
/*https://www.w3schools.com/css/css3_animations.asp */

@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-5px); }
  50%  { transform: translateX(5px); }
  75%  { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s;
}

@keyframes shake_heavy {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-60px); }
  50%  { transform: translateX(60px); }
  75%  { transform: translateX(-60px); }
  100% { transform: translateX(0); }
}

.shake_heavy {
  animation: shake_heavy 0.4s;
}

@keyframes shake_super_heavy {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-150px); }
  50%  { transform: translateX(150px); }
  75%  { transform: translateX(-150px); }
  100% { transform: translateX(0); }
}

.shake_super_heavy {
  animation: shake_super_heavy 0.4s;
}
